<ion-content>
  <div class="background-images">
    <div class="top-image">
      <ion-img slot="fixed" src="assets/images/bubble1.svg"></ion-img>
    </div>
    <div class="center-image">
      <ion-img slot="fixed" src="assets/images/bubble2.svg"></ion-img>
    </div>
    <div class="bottom-image">
      <ion-img slot="fixed" src="assets/images/waves.svg"></ion-img>
    </div>
  </div>

  <ion-content class="content">
    <ion-row class="header-text">
      <ion-col class="">
        <ion-text>
          Sign up with
        </ion-text>
      </ion-col>
    </ion-row>
  
    <ion-row class="social-media-icons">
      <ion-col class="social-media-icon">
        <ion-icon name="logo-google"></ion-icon>
      </ion-col>
      <ion-col class="social-media-icon ion-margin-horizontal">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col class="social-media-icon">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="form">
        <ion-row class="ion-justify-content-evenly">
          <div class="hr-line"></div>
          <ion-text class="ion-margin-horizontal">OR</ion-text>
        <div class="hr-line"></div>
      </ion-row>
      
      <div class="input-item">
        <p class="label">Username: * </p>
        <ion-input></ion-input>
      </div>
      <div class="input-item">
        <p class="label">Password: * </p>
        <ion-input type="password"></ion-input>
      </div>

      <ion-row class="sign-up-btn">
        <ion-button class="btn">
          Sign Up
        </ion-button>
      </ion-row>
    </div>
  </ion-content>
</ion-content>
